/* SPDX-FileCopyrightText: Vernum Projecten B.V.
 * SPDX-License-Identifier: Apache-2.0
 *
 * Inter, het ene lettertype van de huisstijl (docs/huisstijl.md), als de twee
 * variabele webfonts onder static/fonts/inter/ (SIL Open Font License 1.1,
 * de tekst staat ernaast in LICENSE.txt). Ze komen van dit domein zelf, dus
 * er gaat geen verzoek naar een andere partij om een pagina te kunnen lezen.
 * Bedragen en getallen in een kolom krijgen `font-variant-numeric:
 * tabular-nums`. */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/inter/web/InterVariable.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/inter/web/InterVariable-Italic.woff2") format("woff2");
}
