{# SPDX-FileCopyrightText: Vernum Projecten B.V. #}
{# SPDX-License-Identifier: Apache-2.0 #}
{#
  De voet draagt wat artikel 3:15d BW en artikel 27 Handelsregisterwet 2007
  op elke pagina laten staan: de naam, de plaats, het KVK-nummer en het
  btw-identificatienummer. De contactpagina herhaalt ze voluit met het adres
  en het e-mailadres erbij.
#}
<footer class="voet">
  <div class="schil voet__binnen">
    <div>
      <p>
        <strong>{{ config.extra.bedrijf }}</strong>, {{ config.extra.plaats }}.
        KVK {{ config.extra.kvk }}. Btw-id {{ config.extra.btw }}.
      </p>
      <p>&copy; {{ config.extra.jaar }} {{ config.extra.bedrijf }}</p>
    </div>
    <ul class="voet__links">
      {%- for item in config.extra.voetlinks %}
      <li><a href="{{ get_url(path=item.pad, trailing_slash=true) }}">{{ item.naam }}</a></li>
      {%- endfor %}
    </ul>
  </div>
</footer>
